<h1>Home Page</h1>
{{!--outlet--}}
<!--main container -->
        <div class="container-fluid">
            <div class="container">
                <div class="col-sm-8">
                    <QuotesUpdate />
                    <QuotesList @quotes={{model.quotes}}/>
                </div>
                {{!--log '@user=model.user' model.user --}}
                <ProfileDetails @user={{model.user}} />
            </div>
        </div>
<!--/main container -->