<div class="quote main">
    <textarea class="form-control" placeholder="what's heppening?">
  		<input 
  		  type="submit" name="" value="Share"
  		  class="btn btn-default btn-sm pull-right"
  		>
  	</textarea>
</div>